@model List<WebApplicationMVCExample.Models.Customer>;

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-action="AddView">Add a new Customer</a>
    @if (TempData["UndoMessage"] != null)
    {   <h3>Hi</h3>
        <p>@TempData["UndoMessage"] <a href="@Url.Action("UndoDelete")" class="btn btn-warning">Undo</a> this delete</p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
          
            <th>
                Address               
            </th>

            <th>
                Actions
            </th>
        </tr>
    </thead>
    @foreach (var cust in Model)
    {
        <tr>
            @if (!cust.IsDeleted)
            {
                <td>@cust.Name</td>
                <td>@cust.Address1</td>
                <td>
                    <a asp-controller="Home" asp-action="EditView" asp-route-id="@cust.CustomerId">Edit</a>
                    @* <a asp-controller="Invoice" asp-action="HomeView" asp-route-id="@cust.CustomerId">Invoices</a> *@
                    <a asp-controller="Home" asp-action="DeleteView" asp-route-id="@cust.CustomerId" style="margin-left: 8px">Delete</a>
                </td>
            } 
            @* else
            {
                @Html.ActionLink("Undo", "UndoView", new { id = cust.CustomerId }, new { @class = "btn btn-success" })

                @if (TempData["UndoMessage"] != null)
                {
                    <p>@TempData["UndoMessage"]</p>
                }
            } *@

        </tr>
    }
</table>
